.page1 {


}
.spinner-crescent circle{
    stroke: blue;
}

.error-box{
    background: rgb(246, 243, 207);
    color: red;
    border: 1px solid;
    margin: 10px 0px;
    padding:10px 10px 10px 10px;
}
