.page1 {


}
.spinner-crescent circle{
    stroke: blue;
}
.bottom{
    background-color: #f4f4f4;
    min-height: 30px;
    padding: 5px;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index:999;
}
