<ion-navbar primary *navbar>
  <ion-toolbar>
      <ion-searchbar debounce="500" [(ngModel)]="queryTxt" (input)="getProducts($event)"> </ion-searchbar>
      <ion-buttons end>
          <button >
              <ion-icon name="search"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-navbar>

<ion-content padding class="page1">
    <div *ngIf="!productos">
        <img src="{{ps.url+ 'images/general/header' +ps.append}}" alt="" />
        <h2>{{ps.shopname | uppercase}}</h2>
    </div>
  <ion-list>
      <button ion-item  *ngFor="#producto of productos" (click)="verProducto(producto)">
          <ion-thumbnail item-left>
              <img *ngIf="producto.id_default_image" src="{{ps.url + 'images/products/' + producto.id + '/' + producto.id_default_image+ '/small_default'+ ps.append}}">
              <img *ngIf="!producto.id_default_image" src="img/sin-imagen.jpg">
          </ion-thumbnail>
          <h2>{{producto.name}}</h2>
          <h3 secondary>{{producto.quantity > 0 ? producto.quantity :  "Disponible"}}</h3>
          <p>{{ toCurrency(producto.precio) |currency:'USD':true:'1.2-2'}}</p>
          <button clear item-right>Ver</button>
      </button>
  </ion-list>
</ion-content>
