<!--
Generated template for the ProductoDetailsPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-navbar secondary *navbar>
    <ion-title>{{producto.name}}</ion-title>
</ion-navbar>

<ion-content  class="producto-details">
    <ion-slides #mySlider style="height:40% !important;" loop="true" autoplay="4000"  pager>

        <ion-slide style="width:100%" *ngFor="#imagen of producto.associations.images">
            <img src="{{ps.url + 'images/products/' + producto.id + '/' + imagen.id +'/small_default' + ps.append}}" alt="">
        </ion-slide>

    </ion-slides>
        <ion-row wrap>
            <ion-col width-20 *ngFor="#imagen of producto.associations.images, #i = index">
                <img (click)="goToSlide(i)" src="{{ps.url + 'images/products/' + producto.id + '/' + imagen.id +'/small_default' + ps.append}}"
                alt=""  />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button clear round primary style="font-size:16px" (click)="addPed()"> <ion-icon name="add-circle"></ion-icon></button>
                <input  class="qty-input" type="number" max="{{producto.quantity}}" min="1" [(ngModel)]="pedido" value="1">
                <button clear round danger style="font-size:16px" (click)="susPed()"> <ion-icon name="remove-circle"></ion-icon></button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button block secondary small (click)="addtoCart()"><ion-icon name="cart"></ion-icon> Agregar Al Carrito</button>
            </ion-col>
        </ion-row>



    <ion-card>
        <ion-card-header>
            {{producto.name}}
        </ion-card-header>
        <ion-list>
            <ion-item>
                <ion-icon name="pricetag" primary small item-left></ion-icon>
                <h3><b> Precio: </b> {{ toCurrency(producto.precio) |currency:'USD':true:'1.2-2'}}</h3>
            </ion-item>
            <ion-item>
                <ion-icon name="checkmark" primary small item-left></ion-icon>
                <h3><b>Disponibilidad:</b> {{producto.active == 1 ?  "Disponible" : "No Disponible"}}</h3>
            </ion-item>
            <ion-item>
                <ion-icon name="archive" primary small item-left></ion-icon>
                <h3> <b>Stock:</b> {{producto.quantity ? producto.quantity :  "0"}}</h3>
            </ion-item>
            <ion-item>
                <ion-icon name="alert" primary small item-left></ion-icon>
                <h3><b> Condición: </b> {{ producto.condition == "new" ? "Producto Nuevo" : "" }} </h3>
            </ion-item>
            <ion-item>
                <h2>Descripción</h2> <br>
                <div [hidden]="short"  [innerHTML]="producto.description_short"></div>
                <div [hidden]="!short" [innerHTML]="producto.description"></div>
                <div style="text-align:center;">
                    <button  round outline secondary small (click)="short= !short">{{short ? "Ver Menos" :"Ver Mas"}}</button>
                </div>
            </ion-item>
        </ion-list>
    </ion-card>

    <button light full (click)="openProductoInWeb()"> <ion-icon name="cart"></ion-icon> Ver En Tienda</button>

</ion-content>
